user-api/.classpath
user-api/.project
user-api/.settings/
user-api/target/
user-api/.idea

shopping-client/.classpath
shopping-client/.project
shopping-client/.settings/
shopping-client/target/
shopping-client/.idea

product-api/.settings/
product-api/target/
product-api/.classpath
product-api/.project
product-api/.idea

shopping-api/.classpath
shopping-api/.project
shopping-api/.settings/
shopping-api/target/
shopping-api/.idea

simple-user-api/.classpath
simple-user-api/.project
simple-user-api/.settings/
simple-user-api/target/
simple-user-api/.idea

/.metadata/

*.iml
